<div class="modal-header">
  <h5 class="modal-title">
    {{ action ? "Adicionar" : "Editar" }}
    Autor
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    id="btnX"
    (click)="fecharModal()"
  ></button>
</div>
<div class="modal-body">
  <div class="row g-3">
    <div class="col-sm-12">
      <label for="descricao" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="descricao"
        [formControl]="nameControl"
        [ngClass]="{
          'is-invalid':
            nameControl.invalid &&
            nameControl.touched,
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="nameControl.invalid &&
        nameControl.touched && nameControl.errors?.['required']"
      >
        Descrição é obrigatório.
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    id="btnFechar"
    class="btn btn-secondary"
    (click)="fecharModal()"
  >
    Fechar
  </button>
  <button
    type="submit"
    id="btnSalvar"
    class="btn btn-success"
    (click)="salvar()"
  >
    Salvar
  </button>
</div>
