.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  background-color: #f8f9fa;
  flex: 1;
}

.sidebar {
  height: calc(100vh - 56px);
  position: sticky;
  top: 56px;
  overflow-y: auto;
}

main {
  padding: 20px;
}
