<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  autocomplete="off"
  name="loginForm"
>
  <div
    class="container d-flex justify-content-center align-items-center full-height"
  >
    <div class="card w-50 w-md-50 w-lg-25 p-3">
      <div class="card-body">
        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input type="text" class="form-control" formControlName="login" />
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" formControlName="senha" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </div>
    </div>
  </div>
</form>
